#contact-section {
  background-color: #f5f5f5;
  padding: 60px 20px;
}

.contact-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
}

.clinic-info {
  flex: 1;
  min-width: 280px;
}

.clinic-info h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #0d3b66;
}

.clinic-info a {
  color: #007bff;
  text-decoration: none;
}

.clinic-info a:hover {
  text-decoration: underline;
}

.clinic-info ul {
  list-style: none;
  padding-left: 0;
}

.map-container {
  flex: 1;
  min-width: 280px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.clinic-info p,
.clinic-info li{
  margin-bottom: 5px;
}