#quick-paragraph {
  padding: 40px 100px;
  background-color: #f6fcfe;
  text-align: center;
}

#quick-paragraph #container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quick-paragraph h2 {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: rgb(27, 137, 139);
  font-size: 36px;
  line-height: 36px;
      display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#quick-paragraph p {
  color: #000;
  font-family: "Raleway", sans-serif;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 17px;
  max-width: 600px;
  line-height: 27px;
}

.main-button {
  background-color: #007bff;
  border-radius: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 14px 28px;
  transition: background-color 0.3s ease;
  color: #ffffff;
}
