/*
src/components/TopBar.css
*/
.top-bar{
background-color: #fff;
border-bottom: 1px solid #e0e0e0;
position: sticky;
width: 100%;
top:0;
padding: 5px 0;
z-index: 1000;
}


.top-bar .container{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
max-width: clamp(300px, 90%, 1200px);
margin:auto;
}


.logo img{
height: 30px;
width: auto;
object-fit: contain;
}


.utility .btn{
background-color: #007bff;
color: white;
padding: 8px 16px;
margin-right:15px;
border-radius: 4px;
text-decoration: none;
transition: background-color 0.5s ease;
}


.utility .btn:hover{
background-color: #3390f4;
}


.utility .phone{
font-weight: bold;
color:#333;
}