#member-section {
  padding: 40px 20px;
  background-color: #f6fcfe;
}

#member-section .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

#member-section .reversed {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}


.text-container {
  flex: 1;
  min-width: 300px;
}

.text-container h2 {
  font-size: 2rem;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.text-container h3 {
  font-size: 1.5rem;
  color: #0077b6;
}

.text-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.text-container .signature {
  width: 150px;
  height: auto;
  margin: 10px 0;
}

.image-container {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.image-container img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
